@charset "UTF-8";
@import "reset.css";

:root {
    --primary_01: #19B357;
    --primary_02: #378AD7;
    --cancle: #EC4937;
    --basic_03: #333;
    --basic_05: #555;
    --basic_07: #777;
    --basic_09: #999;
    --form: #D3D8DE;
    --line: #F0F0F0;
    --box_bg: #F5F6F7;
    --basic_wh: #fff;
    --basic_bl: #000;
}

.wrap {
    border-bottom: 1px solid var(--primary_01);

}

html {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;

}

button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

.frame {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.matchingPage_frame {
    background-color: #f2f5f7;

}


.bold {
    font-weight: bold;
}

/* Header Navigation*/
.nav_bar {
    display: flex;
    justify-content: space-around;
}

.nav_logo {
    display: inline-block;
    width: 150px;
    height: auto;
}

.nav_logo img {
    width: 100%;
    height: auto;
}

/* nav profile icon */

.nav_info {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0);
}

.nav_info img {
    width: 100%;
    height: auto;
}

/* nav 내 정보 드롭다운 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 15px;
    min-width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 12px;
    padding: 12px 20px;
}

.dropdown-content a:hover {
    background-color: #ececec;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* nav 검색 */

.search_form {
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

@media (min-width: 844px) {
    .search_form {
        width: 540px;
    }
}

.search_form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #19B357;
    border-radius: 10px;
}

input::placeholder {
    font-size: small;
}


.search_button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.search_button img {
    width: 32px;
    height: 32px;
}

/* nav 시설 등록 */

.nav_add {
    display: block;
    width: 75px;
    height: 25px;
    border: solid thin #19B357;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0);
    white-space: nowrap;
    text-decoration: none;
    color: #19B357;
    text-align: center;
    line-height: 1.5;
}

.nav_hr {
    color: #19B357;
    width: 100%;
    height: 5px;
    margin: 0px;
    padding: 0px;
}

.nav_hr_below {
    border: none; /* 테두리 제거 */
    height: 1px; /* 높이 설정 */
    background-color: #19B357; /* 원하는 배경색 설정 */
    margin: 0; /* 마진 초기화 */
    padding: 0; /* 패딩 초기화 */
    width: 100%;
}


/* footer */

.footer_frame {
    max-width: 1200px;
    margin: 100px auto;
    width: 100%;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_tab {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    gap: 40px;
    margin-bottom: 20px;
}

.footer_item {
    font-size: 18px;
    font-weight: bold;
    color: #C8C8C8;
    padding: 1px;
}

.footer_info {
    font-weight: Bold;
    font-size: 13px;
    line-height: 34px;
    color: #888888;
}

.footer_info_detail {
    font-size: 12px;
    line-height: 20px;
    color: #888888;
}

.footer_inquiry {
    font-size: 19px;
    font-weight: bold;
    line-height: 34px;
    color: #888888;
    margin-bottom: 14px;
}

.footer_callnumber {
    font-weight: Bold;
    font-size: 28px;
    line-height: 34px;
    color: #575757;
}

.footer_inquiry_time {
    font-size: 15px;
    line-height: 34px;
    color: #8A8A8A;
    margin-bottom: 13px;
}

.footer_question_container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.footer_question_box {
    background: #F3F5F7;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.footer_question {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    color: #575757;
    padding: 8px;
    width: 100%;
}

.footer_hostcenter_container {
    background: #E5F1FC;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.footer_hostcenter_box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    padding: 8px;
    width: 100%;
}

/* Main */

.main_link {
    display: flex;
    list-style: none;
    margin: 0 20px 20px 20px;

}

.main_link a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
}

.main_link img {
    margin-right: 10px;
    height: 25px;
}

.main_search_filter {
    display: flex;
    justify-content: flex-end;
}

.main_paging {
    justify-content: center;
    margin-top: 50px;
}

.main_content_title {
    font-size: 15px;
    font-weight: bold;
    color: #999999;
}

.main_content_category {
    font-size: 12px;
    font-weight: bold;
}

.main_content_location {
    font-size: 12px;

    color: #999999;
}

.main_content_price {
    font-size: 20px;
    font-weight: bold;
}

.main_banner {
    width: 100%;
    margin-bottom: 50px;
}

.matchingPage_banner {
    width: 100%;
    max-width: 1200px;
    padding: 24px;
}

.matchingPage_banner img {
    border-radius: 15px;
}

.main_banner_area {
    width: 1920px;
    height: 500px;
}

.inside_content img {
    border-radius: 15px;
    width: 287px;
    height: 215px;
}

.main_layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main_filter {
    margin: 10px 20px 10px 10px;
    background: #ffffff;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_btn {
    line-height: 3.5;
}

.join_address_container {
    display: flex;
}

.join_us_text {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #555;

}

.user_container {
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;

}

.address_container {
    display: flex;
}

.invalid_feedback {
    text-align: start;
}

.join_address_button {
    color: #fff;
    background-color: #19B357;
    border: none;
    padding-top: 10px;
    padding-bottom: 20px;
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

.join_button_con {
    padding-top: 50px;
}

.join_button {
    color: #fff;
    background-color: #19B357;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    height: 45px;
}


.join_check {
    display: flex;
    text-align: center;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */

}

.join_form_company {
    padding-right: 20px;
}


.login_search_sign_in {
    padding-top: 40px;
    color: #999;
    font-weight: bolder;
}


.kakao_login_search_sign_in {
    padding-top: 40px;
    color: #999;
}

.user_logo {
    padding-top: 100px;
}

.login_button {
    color: #fff;
    background-color: #19B357;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    height: 45px;
}

.kakao_login_button {
    width: 400px;
}

.kakao_login_button {
    width: 400px;
    height: 50px;
}

.common_button {
    padding-top: 20px;
}

.kakao_login_common_button {
    font-weight: bolder;
    background: #fff;
    border: 1px solid #999; /* 1픽셀 너비의 검은 실선 테두리 */
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.kakao_login_or_container {
    display: flex;
    text-align: center;
    padding-top: 20px;
}

.kakao_login_or_line {
    width: 50%;

}

.kakao_login_or_text {
    padding-top: 5px;
    margin: 0 10px;
    font-weight: bolder;
    color: #999;
}

.kakao_login_txt {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.kakao_login_acoount_q {
    color: #999;
}

.sign_up_go {
    font-weight: bolder;
    padding-left: 10px;
}


.reservation_container {
    border-radius: 30px;
    margin: 0 auto;
    background: white;
    width: 800px;
    height: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

.join_check_button {
    color: #fff;
    background-color: #19B357;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    height: 45px;
}

.join_user_id {
    display: flex;
    padding-bottom: 20px;
}


/* userInfo */

.userInfo_aside {
    border-right: rgba(25, 179, 87, 0.3) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.userInfo_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo_image img {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.userInfo_charge {
    display: flex;
    background: #19B357;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.userInfo_charge button {
    background: yellow;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.userInfo_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo_link_text {
    font-size: 20px;
    font-weight: bold;
    color: #999999;
    margin: 15px;
}

.userInfo_title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* userUpdate */

.userUpdate_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userUpdate_image img {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.userUpdate_image button {
    border-radius: 15px;
    border: #19B357 1px solid;
    width: 100px;
    height: 20px;
    color: #19B357;
    margin-bottom: 20px;
}

.userUpdate_username {
    font-size: 30px;
    margin: 30px;
}

.userUpdate_button {
    display: flex;
    justify-content: center;
}

.userUpdate_button button {
    background: #19B357;
    border-radius: 15px;
    border: #19B357 1px solid;
    width: 50%;
    height: 40px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userUpdate_main_content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 20px 30px 20px;
}

.userUpdate_main_content_title {
    width: 150px;
}

.userUpdate_pwd {
    border: #d9d9d9 1px solid;
    border-radius: 15px;
    width: 300px;
    padding: 5px;
}


/* userTeam */

.userTeam_teamname {
    font-size: 30px;
    margin: 30px;
}

.userTeam_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userTeam_image img {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.userTeam_image button {
    border-radius: 15px;
    border: #19B357 1px solid;
    width: 100px;
    height: 20px;
    color: #19B357;
    margin-bottom: 20px;
}

.userTeam_main_content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 20px 30px 0px;
}

.userTeam_main_content_title {
    font-weight: bold;
    width: 150px;
}


.userTeam_button {
    display: flex;
    justify-content: center;
}

.userTeam_button button {
    background: #19B357;
    border-radius: 15px;
    border: #19B357 1px solid;
    width: 50%;
    height: 40px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* userReview */

.userReview_upper_box {
    border-bottom: #d9d9d9 1px solid;
    width: 100%;
    height: 30px;
}

.userReview_review_box {
    border-bottom: #d9d9d9 1px solid;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.userReview_teamname {
    font-size: 18px;
    font-weight: bold;
    border-right: black 2px solid;
    padding-right: 5px;
    line-height: 1.3;
}

.userReview_created_at {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}

.userReview_place {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #999999;
}

.userReview_content {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}

.userReview_button {
    display: flex;
    justify-content: flex-end
}

.userReview_button button {
    background: #f44336;
    height: 30px;
    width: 100px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}


/* LeagueMain */

.leagueMain_modal {
    text-align: center;
}

.leagueMain_sub_link1 a {
    font-size: 15px;
    margin-left: 30px;
}

.leagueMain_sub_link2 a {
    font-size: 15px;
}

.leagueMain_league_content img {
    border-radius: 15px;
    width: 900px;
    height: 200px;
}

.leagueMain_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.leagueMain_body img {
    border: 1px solid black;
    padding: 5px;
}

.leagueMain_league_title {
    font-size: 20px;
    font-weight: bold;
}

.leagueMain_league_region {
    font-size: 15px;
    font-weight: bold;
}

.leagueMain_league_stadium {
    font-size: 15px;
}

.leagueMain_league_status1 {
    font-size: 20px;
    font-weight: bold;
    color: #19B357;
}

.leagueMain_league_status2 {
    font-size: 20px;
    font-weight: bold;
    color: #378AD7;
}

.leagueMain_league_status3 {
    font-size: 20px;
    font-weight: bold;
    color: #EC4937;
}

.leagueMain_dropdown {
    position: relative;
    display: inline-block;
}

.leagueMain_dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 15px;
    min-width: 295px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leagueMain_dropdown_content a {
    display: block;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 12px;
    padding: 12px 20px;
}

.leagueMain_dropdown_content a:hover {
    background-color: #ececec;
    border-radius: 15px;
}

.leagueMain_dropdown:hover .leagueMain_dropdown_content {
    display: flex;
}


.menu_bar {
    display: flex;
    flex-direction: revert;
}

.sub_navbar_style {
    margin-top: 5px !important;
    position: relative;
    left: 10px; /* 원하는 값으로 조절 */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sub_navbar_style a {
    line-height: 1.5; /* 적절한 값으로 조절 */

}


.nav {
    margin-top: 12px;
    display: flex; /* 수평 배치를 위한 flex 컨테이너 설정 */
    list-style: none;
    padding: 0; /* 기본 리스트 스타일 제거 */
    align-items: center; /* 수직 가운데 정렬 */
    position: relative;
}

.dropdown-menu {
    text-align: center;
}

/* 드롭다운 메뉴의 아이템 스타일 초기화 */

.dropdown-item {
    display: flex;
    justify-content: center;
}


.swiper-slide {
    flex-shrink: 0;
    width: 10%;
    position: relative;
    transition-property: transform;
}

.slider_wrap {
    position: relative;
}

.league_slider_wrap {
    position: relative;
    margin-top: 20px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -40px;

}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -43px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

.slider_arrow > img {
    width: 100%;
}

.manual {
    padding: 0;
}

.manual > li {
    display: none;
}

.manual > li.manual_active {
    display: block;
}

.manual_box {
    border-top: 0px solid;
}

.manual_label {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.manual_img {
    padding: 24px 0;
}

.manual_img > img {
    border-radius: 5px;

}

.manual_num {
    margin-top: 10px;
    height: 24px;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 18px;
    line-height: 1.3;
}

.manual_strong {

    font-weight: 300;
    font-size: 18px;
}

.manual_card {
    padding-bottom: 20px;
}

.manual_card:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.manual_tit {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.manual_cont {
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 4px;
}

.manual_txt p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

.manual_tit strong {
    font-weight: 700;
    color: inherit;
}

.manual_txt strong {
    font-weight: 400;
    color: inherit;
}

.manual_tab .manual_category {
    display: flex;
    padding: 12px 20px 12px;
    flex-wrap: nowrap;
    background-color: white;
    width: 100%;
}

.manual_tab::-webkit-scrollbar {
    display: none;
}

.manual_tab .manual_category li {

}

.manual_tab .manual_category a {
    border-radius: 35px;
    color: black;
    border: 1px solid white;
    display: inline-block;
    width: 100px;
    padding: 18px 0px;
    text-align: center;
}

.manual_tab .manual_category a.manual_active {
    background-color: #19B357;
    color: white;

    border: none;
}

.manual_tab .manual_category a:hover,
.manual_tab .manual_category a:hover {
    background-color: #19B357;

}

.matching_team {
}

.matching_detail {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 35px;
    margin-left: 25px;
}

.matching_list {
    display: flex;
    justify-content: space-between;
}

.leagueMain_modal_header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: #dee2e6 1px solid;
    height: 80px;
}

.leagueMain_modal_footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    border-top: #dee2e6 1px solid;
    margin: 10px;
    padding-top: 10px;
    height: 50px;
}

.leagueMain_modal_footer a:nth-child(1) {
    background: #19B357;
    padding: 10px 30px;
    border-radius: 12.5px;
    color: white;
    margin-left: 10px;
}

.leagueMain_modal_footer a:nth-child(2) {
    background: #EC4937;
    padding: 10px 30px;
    border-radius: 12.5px;
    color: white;
    margin-left: 10px;
}

.leagueMain_table {
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    justify-items: center;
    justify-content: center;
}

.leagueMain_table table {
    width: 100%;
    height: 100%;

}

.leagueMain_table th {
    font-size: 18px;
    font-weight: bold;
    border-right: #F3F5F7 1px solid;
    padding-top: 25px;
}

.leagueMain_table td {
    font-size: 18px;
    padding-bottom: 25px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.userReservation_modal_header {

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: #dee2e6 1px solid;

}

/* leagueRanking */
.leagueRanking_region {
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

.leagueRanking_table {
    text-align: center;
    margin-bottom: 30px;
}


/* leagueSchedule */
.leagueSchedule_table {
    text-align: center;
    margin-bottom: 30px;
}

.leagueSchedule_region {
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

/* userBookmark */

.userBookmark_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.userBookmark_content {
    padding: 0;
}

.userBookmark_content img {
    border-radius: 15px;
    width: 232px;
    height: auto;
}

/* reservation*/

.reservation_background {
    background-color: #F3F5F7;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
}

.reservation_container {
    background-color: #fff;
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 180px;
}

.re_choice_place_letter_name {
    font-weight: bolder;
    color: #8A8A8A;
    padding-bottom: 10px;

}

.re_choice_place_letter_field {
    font-weight: bolder;
    padding-bottom: 10px;
}

.re_choice_place_letter_time {
    padding-bottom: 10px;
}

.reservation_line {
    width: 100%;
    height: 1px;
    color: #8A8A8A;
}

.re_acception {
    display: flex;
    margin-top: 50px;
    font-weight: bolder;
    flex-direction: column;

}

.re_acception_letter {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
    font-size: 30px;
}

.re_choice_place {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.re_choice_place_detail {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}


.re_place_image {
    width: 120px;
    height: 100px;

}

.re_place_image img {
    width: 100%; /* 이미지가 부모 요소의 100%를 차지하도록 설정 */
    height: 100%;
    object-fit: cover;
    border-radius: 10%; /* 이미지의 비율을 유지하면서 부모 요소에 맞추기 */
}

.re_choice_place_letter {
    display: flex;
    flex-direction: column;
    padding-left: 50px;

}

.re_calendar {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.re_calendar_letter {
    font-weight: bolder;

}

.re_calendar_detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

td {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.re_calendar_real {
    text-align: center;
    margin: 0 auto;
}

.Calendar > thead > tr:first-child > td {
    font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
    background-color: grey;
    color: white;
}

.pastDay {
    background-color: lightgray;
}

.today {
    background-color: #FFCA64;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.futureDay.choiceDay, .today.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}

.re_time_choice {
    display: flex;
    flex-direction: column;

}

.re_choice_letter {
    font-weight: bolder;
}

.re_time_choice_caution {
    display: flex;
    flex-direction: row;
}

.re_time_choice_caution_red {
    font-weight: bolder;
    color: #FE1F33;
    padding-left: 10px;
    padding-bottom: 10px;
}

.re_time_choice_radio {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 20px;
    font-weight: bolder;
}

.re_person_choice {
    display: flex;
    flex-direction: column;
}

.re_person_caution {
    font-weight: bolder;
    color: #555;
    text-align: center;

}

.re_person_count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.re_person_count input[type="button"] {
    border: none; /* 원하는 테두리 스타일과 색상으로 변경 */
    padding: 5px 10px; /* 버튼의 내부 여백 설정 */
    cursor: pointer;
    width: 50px;
    height: 50px;

}

.re_person_count input[type="button"]:hover {
    background-color: #333; /* 버튼에 마우스를 올렸을 때의 배경색 */
    color: #fff; /* 버튼에 마우스를 올렸을 때의 텍스트 색상 */
}

.re_count_number {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: center;

}

.re_person_auto_count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 20px;
    padding-bottom: 30px;
}

.re_host_send {
    display: flex;
    flex-direction: column;
}

.re_host_title {
    display: flex;
    flex-direction: row;
}

.re_choice_letter_blue {
    padding-left: 20px;
    font-weight: bolder;
    color: rgba(66, 132, 236, 1);
}

.re_host_send_container {
    border: 1px solid #D4DBE2; /* 테두리 스타일 및 색상 설정 */
    padding: 10px; /* 내부 여백 설정 */
    margin: 10px; /* 외부 여백 설정 */
    background-color: #FFFFFF;
    height: 100px;
}

.re_host_send_container_txt {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.re_matching_check {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bolder;
}


.re_matching_check label {
    padding: 20px;
}

.reservation_button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.reservation_button_detail {
    border-radius: 20px;
    width: 200px;
    height: 60px;
    background-color: #19B357;
    color: #FFFFFF;
    font-weight: bolder;
}

/* userReservation */

.userReservation_tab {
    display: flex;
    flex-direction: row;
    align-self: start;
    gap: 20px;
}

.userReservation_tabbox {
    display: flex;
    align-self: start;
    margin: 10px;
}

.userReservation_search {
    position: relative;
    width: 100%;
    margin: 30px;
}

.userReservation_search button img {
    margin-right: 10px;
}

.userReservation_search input {
    border: none;
    background: #F0F0F0;
    width: 700px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.userReservation_table {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    justify-items: center;
}

.userReservation_table th {
    background: #F3F5F7;
    border-top: black 2px solid;
}


.userReservation_table_tr td {
    vertical-align: middle;
    border: #F3F5F7 1px solid;
    height: 100px;
}

.userReservation_table_title {
    background: #19B357;
}

.userReservation_table_column {

}

.userReservation_table_tr td:nth-child(1) {
    width: 11%;
}

.userReservation_table_tr td:nth-child(2) {
    width: 13%;
}

.userReservation_table_tr td:nth-child(3) {
    width: 27%;
}

.userReservation_table_tr td:nth-child(4) {
    width: 24%;
    font-size: 13px;
}

.userReservation_table_tr td:nth-child(5) {
    width: 12%;
}

.userReservation_table_tr td:nth-child(6) {
    width: 12%;
}

.userReservation_pic img {
    width: 100%;
    height: 100%;
}


.userReservation_button {
    display: flex;
    align-self: end;
    gap: 10px;
    margin-bottom: 10px;
}

.userReservation_detail {
    padding: 10px;

}

.userReservation_payment {
    background: #378AD7;
    color: white;
    border-radius: 5px;
    padding: 10px;
    justify-self: end;
}

.modal {
    text-align: center;
}

.modal-dialog.modal-fullsize {
}


@media screen {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        width: 700px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 576px) {
    .league_modal-dialog {
        width: 700px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}


.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.userReservation_modal_header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: #dee2e6 1px solid;
    background-color: #19B357;
    color: white;
}

.modal-body {
    padding-bottom: 0;
}

.userReservation_modal_header h2 {
    width: 100%;
    text-align: center;
}

.userReservation_modal_body {

}

.userReservation_modal_body_detail {
    display: flex;
    flex-direction: row;
}

.userReservation_modal_body_detail_text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.userReservation_modal_body_detail img {
    margin: 20px;
    border-radius: 10px;
}

.userReservation_modal_footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    border-top: #dee2e6 1px solid;
    margin: 10px;
    padding-top: 10px;
    height: 50px;
}

.userReservation_modal_footer a:nth-child(1) {
    background: #19B357;
    padding: 10px 30px;
    border-radius: 12.5px;
    color: white;
}

.userReservation_modal_footer a:nth-child(2) {
    background: #f44336;
    padding: 10px 30px;
    border-radius: 12.5px;
    color: white;
}

/* userPayment */

.userPayment_box {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}

.userPayment_title {
    display: flex;
    align-self: start;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.userPayment_status {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px black solid;
}

.userPayment_body {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.userPayment_body_desc img {
    width: 160px;
    border-radius: 15px;
    padding: 10px;
}

.userPayment_detail {
    display: flex;
    justify-content: space-between;
}

.matching_button {
    background-color: #19B357;
    color: white;
}


.matching_btn_style {
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    text-align: center;
}

.league_matching_btn_style {
    margin-top: 10px;
    margin-right: 0;
    border-radius: 5px;
    height: 35px;
    width: 85px;
    font-size: 16px;
    text-align: center;
}

.league_matching_button {
    display: flex;
    justify-content: end;
}

.league_matching_modal {
    width: 900px;
    height: 500px;
}

.modal_test {
    width: 900px;
    height: 800px;
}

.matchingPage_team {
    display: flex;
}

.matchingPage_team_box {
    margin-left: 40px;

}

.matchingPage_manual_box {
    margin: 0; /* 마진 초기화 */
    padding: 0; /* 패딩 초기화 */
    border-top: 1px solid;
}

.matching_sorting {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: white;
    color: #19B357;
    border: 1px solid #19B357;

    /* 수평 가운데 정렬을 위해 추가된 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;
}


.userPayment_body button {
    padding: 10px;
    background: #19B357;
    width: 100px;
    color: #F3F5F7;
    border-radius: 15px;
    margin-bottom: 10px;
}

.userPayment_text {
    display: flex;
    flex-direction: column;
}

.userPayment_text div:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
}

.userPayment_text div:nth-child(2) {
    font-size: 15px;
    color: #9b8100;
    padding: 3px;
}

.userPayment_text div:nth-child(3) {
    font-size: 20px;
    padding: 3px;
}

.userPayment_text div:nth-child(4) {
    font-size: 20px;
    padding: 3px;
}

.userPayment_body_desc {
    display: flex;
    align-items: center;
}

.userPayment_modal_footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    border-top: #dee2e6 1px solid;
    margin: 10px;
    height: 50px;
    margin-top: 0px;
}


.userPayment_modal_footer a {
    background: #19B357;
    padding: 10px 30px;
    border-radius: 12.5px;
    color: white;
}

.userPayment_table {
    border-top: #dee2e6 1px solid;
    margin-top: 12px;
    display: flex;
    justify-items: center;
    justify-content: center;
}


.userPayment_table_header {
    margin-left: 3px;
}

.userPayment_table_header th {
    text-align: center;
    width: 100px;
}

.userPayment_table_header td {
    width: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}


.userPayment_table table {
    width: 100%;
    height: 100%;

}

.userPayment_table th {
    font-size: 18px;
    font-weight: bold;
    padding-top: 25px;
}

.userPayment_table td {
    font-size: 18px;
    padding-bottom: 25px;
}

/* inquireMain */

.inquire_frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    background: #BFC4D2;
    color: white;
}

.inquire_frame div:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.inquire_frame div:nth-child(2) {
    font-size: 18px;
    padding-top: 10px;
}

.inquire_tab_frame {
    display: flex;
    align-items: center;
    background: #F3F3F7;
    width: 100%;
    height: 80px;
}

.inquire_tab {
    display: flex;

}

.inquire_tab_item a {
    font-size: 20px;
    padding-right: 20px;
    color: #7A7E98;
    font-weight: 400;
}

.inquire_notice {
    margin-top: 100px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: #F5F6F7 1px solid;
}

.inquire_notice_list {
    border-bottom: #F5F6F7 1px solid;
    display: flex;
    flex-direction: column;

}

.inquire_notice_item {
    display: flex;
    height: 75px;
    align-items: center;
    border-collapse: collapse;
}

.inquire_notice_item div:nth-child(1) {
    padding-right: 25px;
    font-size: 18px;
    color: #9A9FB8;
}

.inquire_notice_item div:nth-child(2) {
    padding-right: 25px;
    font-size: 18px;
}

.inquire_notice_date {
    align-self: center;
    padding-right: 25px;
    font-size: 12px;
    color: #929392;
}

.inquire_notice_content {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    white-space: pre-line;
}

.inquire_layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* inquireWrite */

.inquire_write {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: #F5F6F7 1px solid;
}

.inquire_write_list {
    border-bottom: #F5F6F7 1px solid;
    display: flex;
    flex-direction: column;

}

.inquire_write_item {
    display: flex;
    height: 75px;
    align-items: center;
    border-collapse: collapse;
}

.inquire_write_item div:nth-child(1) {
    padding-right: 25px;
    font-size: 18px;
    color: #9A9FB8;
}

.inquire_write_item div:nth-child(2) {
    padding-right: 25px;
    font-size: 18px;
}

.inquire_write_date {
    align-self: center;
    padding-right: 25px;
    font-size: 12px;
    color: #929392;
}

.inquire_write_content {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    white-space: pre-line;
}

.inquire_write_layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inquire_write button {
    background: #F3F3F7;
    width: 100px;
    height: 40px;
    border-radius: 12.5px;
    text-align: center;
    line-height: 2.75;
    font-size: 15px;
    font-weight: bold;
}

.inquire_write_modal_footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding-top: 10px;
    height: 50px;
}

.inquire_write_modal_footer button {
    background: #19B357;
    padding: 10px 30px;
    border-radius: 12.5px;
    color: white;
}

.inquire_write_form {
    display: flex;
    flex-direction: column;
}

.inquire_write_form div {
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 10px auto;

}

.home_main_banner {
    width: 100%;
    height: 200px;
}

/*종목 카테고리*/
.wrapper {
    background-color: #F8ECD1;
    position: relative;
}

.menu_nav {
    width: 100%;
    margin-top: 0;
    display: flex; /* 수평 배치를 위한 flex 컨테이너 설정 */
    list-style: none;
    padding: 0; /* 기본 리스트 스타일 제거 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center;
    position: relative;
}

.league_matching_menu_nav {
    width: 100%;
    margin-top: 0;
    display: flex; /* 수평 배치를 위한 flex 컨테이너 설정 */
    list-style: none;
    padding: 0; /* 기본 리스트 스타일 제거 */
    align-items: start; /* 수직 가운데 정렬 */
    justify-content: start;
    position: relative;
}

.menu_nav_area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.menu__list {
    display: table;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.league_matching_menu_list {
    display: table;
    list-style-type: none;
    width: 30%;
    text-align: center;
    font-size: 14px;
}

.menu__menu {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    border: 1px solid #19B357;
}

.league_matching_menu_menu {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    width: 30%;
    cursor: pointer;
    border: 1px solid #19B357;
}

.league_matching_menu_menu:hover {
    background-color: #19B357;
    color: white;
}

.menu__menu:hover {
    background-color: #19B357;
    color: white;
}

.menu__menu:hover .subwrapper {
    display: block;
    color: black;
    border: 1px solid #19B357;
}

.menu__menu:hover .submenu__list {
    display: table;
}


.subwrapper {
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
}

/*.subnav {*/
/*    width: 80%;*/
/*    max-width: 1024px;*/
/*    margin: 0 auto;*/
/*}*/

.submenu__list {
    display: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.submenu__list > li {
    width: 33.333%;
}

.submenu__menu {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
}

.submenu__menu:hover {
    background-color: #19B357;
    color: white;
}

.leaguePage-area-sorting {
    text-align: center;
    margin-top: 20px;
}

.userPayment_detail_style {
    margin-top: 10px;
}

.div_box {
    height: 30px;
}

/*placeResistration*/

. place_resistration_letter {
    display: flex;
    flex-direction: column;

}

.place_resistration_title {
    display: flex;
    flex-direction: row;
}

.place_resistration_txt {
    width: 100%;
    height: 100%;
    color: black;
}

.place_resistration_name {
    width: 200px;

}

.place_resistration_txt {
    width: 100%;
}

.place_resistration_thumbnail {
    padding-top: 30px;
}

.place_resistration_thumbnail_caution {
    font-weight: bolder;
    color: #555;
    text-align: start;
    padding-bottom: 20px;
}

.place_resistration_thumbnail_caution_logo {
    padding-bottom: 10px;
}

.place_resistration_thumbnail_caution_size {
    padding-bottom: 10px;
}

.place_resistration_thumbnail_caution_logo {
    padding-bottom: 10px;
}

.place_resistration_thumbnail_caution_default {
    padding-bottom: 10px;
}

.place_resistration_thumbnail_container {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.place_resistration_thumbnail_label {
    background-color: #3498db; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    padding: 8px 15px; /* 내부 여백 설정 */
    border-radius: 5px; /* 둥근 테두리 설정 */
    cursor: pointer; /* 마우스 포인터를 손가락으로 변경 */
    display: inline-block; /* 블록 요소로 설정하여 여백이 적용되도록 함 */
}

.place_resistration_tel_container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.place_resistration_tel_number_container {
    width: 200px;
}

.place_resistration_tel_number {
    width: 100%;
}

.place_resistration_address_container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.place_resistration_address_search {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.place_resistration_rent_time_container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

}

.place_resistration_rent_time_check {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    padding-bottom: 20px;
}

.input[type="rent_time_checkBox1"] {
    margin-right: 5px;

}

.place_resistration_rent_time_menu {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.place_resistration_rent_time_menu_letter {
    padding-left: 5px;
    padding-right: 5px;
}

.place_resistration_rent_time_caution {
    padding-top: 20px;
    font-weight: bolder;
    color: #8A8A8A;
}

#place_resistration_rent_time_dropdown1 {
    padding: 8px;
    font-size: 16px;
    font-weight: bolder;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #ecf0f1;
    outline: none; /* 선택 상자 외곽선 제거 */
}

#place_resistration_rent_time_dropdown2 {
    padding: 8px;
    font-size: 16px;
    font-weight: bolder;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #ecf0f1;
    outline: none; /* 선택 상자 외곽선 제거 */
}

#preview img {
    width: 200px;
    height: auto;
    margin-top: 10px;
}

.myPage-head-line {
    margin-bottom: 20px;
}

.league_matching_table_title {
    height: 30px;
    width: 100%;
    background-color: #19B357;
    color: white;
    text-align: center; /* 텍스트를 수평 가운데 정렬합니다. */
    line-height: 27px;
    align-content: center;
}

.league_matching_table_sub_title {
    display: flex;
    justify-content: space-around;
    height: 20px;
    width: 100%;
    background-color: #F3F5F7;
    color: black;
    border: 1px solid #F3F5F7;
    font-weight: bold;
}

.league_matching_table_content {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background-color: white;
    color: white;
    align-items: center; /* 세로 중앙 정렬 */
    border: 1px solid #F3F5F7;
}

.league_matching_checkbox {
    vertical-align: middle;
    border: 0;
}

.league_matching_check_box_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #19B357;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.league_matching_title {
    width: 100px;
    text-align: center;
}

.league_matching_content {
    width: 120px;
    text-align: center;
    color: black;
}

.league_matching_content_team_name {
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬을 위한 스타일 추가 */
    width: 120px;
    text-align: center;
    color: black;
}

.league_matching_content_team_name img {
    height: 30px;
    width: 30px;
}


.league_matching_content-date {
    width: 115px;
    text-align: center;
    color: black;
}

.matching_box {
    margin-top: 20px;
    border: 2px solid black;
}

.matching_my_score {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 55%;
}

.matching_my_score_box {
    height: 30px;
}

.card {
    width: 150px;
    border: 1px solid #19B357;
}

.card-contain {
    display: grid;
    place-items: center; /* 센터 정렬 */
}

.matching_my_score_title {
}